<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" routerLink="/">User Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <div class="testing2">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create">Create Post <mat-icon style="font-size: medium;">create</mat-icon></a>
        </li>
      </div>
      <div class="testing">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <!-- {{ }} -->
        </li>
      </div>
    </ul>
  </div>
</nav>