.nav-link {
    text-align: center;
}

mat-button-toggle-group {
    box-shadow: none;
    height: 30px;
    align-items: center;
}

mat-button-toggle-group:hover {
    border: 1px #000 solid;
    border-radius: 5px;
}

mat-button-toggle {
    border: 1px rgba(0, 0, 0, 0) solid;
    margin-top: 5px;
    padding-right: 1px;
}

.mat-button-toggle-checked {
    background-color: white;
}

::ng-deep .mat-button-toggle-checked button {
    color: #424242;
    border: 1px rgba(0, 0, 0, 0) solid;
}

.upvote {
    color: white;
}

.upvote:hover {
    background: linear-gradient(0deg, #2b5876, #4e4376);
    color: #fff;
}

.upvotesNumber {
    position: relative;
    display: inline-flex;
    padding: 10px 10px;
    top: -2px;
}

.material-icons {
    display: inline-flex;
    position: relative;
    top: 4px;
}

.commentButton {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    float: right;
}

.mat-card-actions {
    display: block !important;
    margin: auto !important;
    text-align: center !important;
}