<div>
    <div>
        <h2 class="card-header text-center">{{ title }}</h2>
    </div>

    <div class="card-body">
        <h5><a class="nav-link" routerLink="/create">Create Post</a></h5>
        <!-- I want to iterate through all the User elements within the users property of this compoennt and render them -->
        <!-- <div>
            <button class="btn btn-secondary btn-center" (click)="setUsers()">Show Users</button>
        </div> -->
        <ul *ngFor="let p of posts" class="list-group">
            <li class="list-group-item">Posted By: {{(p.userId)?.username}}</li>
            <li class="list-group-item">Post Id: {{ p.postId }}</li>
            <li class="list-group-item">Post Title: {{ p.title }}</li>
            <li class="list-group-item">Post Image: {{ p.image.imgHtml }}</li>
            <li class="list-group-item">
                <!-- <app-comment [parentPost]=p.postId></app-comment> -->
            <li class="list-group-item">
                <ul *ngFor="let c of p.comments" class="list-group">
                    Commment:
                    <li class="list-group-item">Posted By: {{(c.userId)?.username}}</li>
                    <li class="list-group-item">"{{ c.commText }}"</li>
                    <li class="list-group-item">Upvotes: {{ c.upvotes }}</li>
                </ul>
            </li>
        </ul>
            <li class="list-group-item">
                <p>Upvotes: {{ p.upvotes }}</p>
                <mat-button-toggle-group #group="matButtonToggleGroup">
                    <mat-button-toggle class="upvote" value={{p.upvotes}} id={{p.postId}}
                        (change)="onChange($event, group, p)">
                        <mat-icon>arrow_drop_up</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </li>

        </ul>



    </div>
    <div *ngIf="posts.length == 0" style="text-align: center">
        <!-- This element will only be present on the DOM IF there are no users in the array-->
        <h5>{{ clientMessage.message }}</h5>
    </div>
    <div>
        <button class="btn btn-secondary btn-center" (click)="findAllPosts()">Fetch Posts</button>
    </div>



</div>