.nav-link {
    text-align: center;
}

mat-button-toggle-group {
    box-shadow: none;
    height: 30px;
    align-items: center;
}

mat-button-toggle-group:hover {
    border: 1px #000 solid;
    border-radius: 5px;
}

mat-button-toggle {
    border: 1px rgba(0, 0, 0, 0) solid;
    margin-top: 5px;
    padding-right: 1px;
}

.mat-button-toggle-checked {
    background-color: white;
}

::ng-deep .mat-button-toggle-checked button {
    color: #424242;
    border: 1px rgba(0, 0, 0, 0) solid;
}

::ng-deep .mat-button-toggle-checked button:hover {
    color: white;
}

.upvote {
    color: white;
}

.upvote:hover {
    background: linear-gradient(0deg, #2b5876, #4e4376);
    color: #fff;
}

.upvotesNumber {
    position: relative;
    display: inline-flex;
    padding: 10px 10px;
    top: -2px;
}

.material-icons {
    display: inline-flex;
    position: relative;
    top: 4px;
}

.commentButton {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    float: right;
}

.mat-card-actions {
    display: block !important;
    margin: auto !important;
    text-align: center !important;
}

.btn {
    width: 30%;
}

.fetch-btn {
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 10%;
}

/* Container holding the image and the text */

.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */

.bottom-left {
    position: absolute;
    bottom: 1em;
    width: 100%;
    font-size: 5em;
    color: gold;
}

/* Top left text */

.top-left {
    position: absolute;
    top: 1em;
    width: 100%;
    font-size: 5em;
    color: gold;
}

.copyright {
    position: fixed;
    bottom: 0%;
    right: 1%;
    color: white;
}